<h1>Project</h1>
<div class="pages">
  <div class="content">
		<div class="post">
			<h1>Editing a ticket in <%= @project.name %></h1>
			<%= render "form" %>
		</div>

		<div class="post">
			<h1>Ticket List</h1>
			<ul id='tickets'>
			<% @project.tickets.each do |ticket| %>
			<li>
			#<%= ticket.id %> - <%= link_to ticket.title, [@project, ticket] %>
			</li>
			<% end %>
			</ul>
		</div>
	</div>

  <div class="sidebar">
    <h1>Menu</h1>
    <h3><%= link_to 'New Ticket', new_project_ticket_path(@project) %></h3>

    <h1>List Project</h1>
    <ul>
    <% @proj.each do |p| %>
      <li><%= link_to p.name, p %></li>
    <% end %>
    </ul>

  </div>
</div>
